* {
    padding: 0;
    margin: 0;
}

/* body {
    width: 600px;
    margin: 0 auto;
} */

#top header {
    height: 100%;
    overflow: hidden;
}

#top header .circle-header {
    position: relative;
    top: 0;
    background-image: url("../images/circle-header.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    min-height: 25vh;
}

#top .menu1, #top .menu2, #top .menu3 {
    position: absolute;
}

/* .circle-move {
    position: relative;
    top: 40%;
    left: 20%;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.circle-move:hover {
    background-color: black;

} */


.circle-move p:hover {
    color: black;

}

#top .menu1 {
    top: 30%;
    left: 10%;
}

#top .menu2 {
    top: 25%;
    left: 35%;
}
#top .menu3 {
    top: 10%;
    left: 50%;
}

#top .menu1 p, #top .menu2 p, #top .menu3 p {
    color: red;
    font-size: 12px;
}

.circle-move {
    position: absolute;
    top: 10%;
    left: 28%;
    animation-name: rain;
    display: flex;
    width: 500px;
    flex-direction: column;
    gap: 117px;    
    animation-duration: 3s;
    animation-delay: 0s;
    animation-fill-mode: backwards;
    animation-direction: linear;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.droplet {
    width: 18px;
    height: 35px;
    background:  -webkit-radial-gradient(center, farthest-corner,  #A4DDF5, #76CBF1);
    border-radius: 10px 10px 10px 10px / 30px 30px 10px 10px;
    box-shadow: 0 1px 3px rgba(0,0,0, 0.1);
    transform: rotate(-30deg);

  }

  .droplet1 {
    margin-left: 10%;

}

  .droplet2 {
    margin-right: 10%;

  }
 
  @keyframes rain {
    0% {
        transform: translate(0,0);
    }

    100% {
        transform: translate(150px, 150px);
        opacity: 0;
    }

  }


@media screen and (max-width: 760px){    
    .sp-none {
        display: none;
    }    
}